.contact {
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    padding: 60px 80px 60px;
    background-color: rgb(0, 0, 0);
    color: rgb(250, 250, 250);
}

.contact__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 0;
    padding-bottom: 20px;
}

.contact__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    gap: 10px;
}

.contact__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact__item {
    margin: 5px 0;
}

.contact__link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}