.header {
    display: block;
    justify-content: center;
}

.header__user {
    font-size: 2rem;
    text-align: center;
    margin: 0;
}

.header__description {
    font-size: 1.2rem;
    text-align: center;
    margin: 0;
}