.projects {
    display: block;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.projects__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.0rem;
    margin: 0;
    padding: 60px 80px 20px;
}