.projects {
  background-color: rgb(0, 5, 10);
  color: rgb(255, 255, 255);
  width: 100%;
  box-sizing: border-box;
}

.projects__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin: 0;
  padding: 60px 80px 20px;
}

.project {
  display: grid;
  grid-template-columns: repeat(2, (100% - 160px) / 2);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "title title"
    "description image"
    "link link";
  gap: 10px;
  margin: 0;
  padding: 60px 80px 20px;
}

.project__name {
  grid-area: title;
  font-size: 1.5rem;
  margin: 20px 40px;
}

.project__descriptions-container {
  grid-area: description;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  font-size: 1rem;
}

.project__description {
  margin: 10px 0;
  line-height: 1.5;
}

.project__image-container {
  grid-area: image;
}

.project__image {
  object-fit: contain;
  width: 100%;
  height: auto;
  display: block;
}

.project__link {
  grid-area: link;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: inline-block;
  transition: color 0.3s ease;
}

.project__link:hover {
  color: #007acc;
}
