/*Importar los estilos para cada seccion del portafolio*/

@import url("../blocks/about.css");
@import url("../blocks/contact.css");
@import url("../blocks/content.css");
@import url("../blocks/footer.css");
@import url("../blocks/header.css");
@import url("../blocks/home.css");
@import url("../blocks/navigate.css");
@import url("../blocks/projects.css");